
// Index

.hero-banner {

    overflow-x: hidden;
    overflow-y: hidden;

    .img-box {

        width: 100vw;
        height: 350px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.category {
    @media (max-width: 768px) {
        margin: 20px;
    }
    margin: 50px 50px;
    background: #f3f3f3;
    padding: 30px 0;
    h1 {
        @media (max-width: 768px) {
            font-size: 28px;
        }
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .category-box {
        @media (max-width: 768px){
            flex-direction: column;
            align-items: center;
        }
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        
        .category-info {
            @media (max-width: 768px){
                width: 90%;
                height: auto;
               
            }
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 30px;
            width: 250px;
            height: 365px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s ease;
            
            .title {
                font-size: 18px;
                text-align: center;
                margin: 10px 0;
                font-weight: 500;
            }
    
            .img-box {
                // width: 20%;
            img {
                width: 100%;
                height: 225px;
                object-fit: cover;
                }
            }
    
            .shop {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                margin-top: 15px;

                a {
                    text-decoration: none;
                    color: #007bff;
                    font-weight: 500;
                }

                img {
                    width: 20px;
                    height: 20px;
                }
    
                
            }
        }

    }
}
.back-sec{
    background-color: #37475A;
    padding: 10px;
    .back-box{
        h5{
            text-align: center;
            color: #fff;
        }
    }
}
.footer-sec{
    @media (max-width: 768px){
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    background-color: #232F3E;
    .get-box{
        margin-top: 20px;
        h3{
            font-size: 20px;
            color: #fff;
        }
    }
    .know-box{
        
        ul{
            list-style: none;
            padding: 0;
        li{
            color: #eeee;
            font-size: 15px;
        }
        }
    }
    .connect-box{
        margin-top: 20px;
        h3{
        font-size: 20px;
        color: #fff;
        }
    }
    .with-box{
        ul{
            list-style: none;
            padding: 0;
            li{
                color: #eeee;
                font-size: 15px;
            }
        }
    }
    .money-box{
        margin-top: 20px;
        h3{
        font-size: 20px;
        color: #fff;
        }
    }
    .make-box{
        ul{
            list-style: none;
            padding: 0;
            li{
                color: #eeee;
                font-size: 15px;
            }
        }
    }
    .let-box{
        margin-top: 20px;
     
        h3{
        font-size: 20px;
        color: #fff;
        }
    }
    .help-box{
        ul{
            list-style: none;
            padding: 0;
            li{
                color: #eeee;
                font-size: 15px;
            }
        }
    }
  
}
  .btn-box{
  
   
   
    a{
        @media (max-width: 768px){
            display: inline-block;
            padding: 12px 18px;
            font-size: 14px;
           
        }
        border: 1px solid #fff;
        background-color: #5288F3;
        text-decoration: none;
        padding: 15px 15px;
        color: #fff;
        border-radius: 10px;
    }
}